<%= @deck.name %><br>
<h1>Card #<%= @card.id %></h1>
<p><%= @card.question %></p>
<form action="/decks/<%= @deck.id%>/cards/<%= @card.id%>/guess" method='GET'>
  <input type="text" name="guess" placeholder="Your guess">
  <input type="submit" value="GUESS!">
</form>
